---
---

<div id="viewer">
  <div class="back">
    <div class="loading">loading...</div>
    <figure class="image"></figure>
  </div>
  <div class="front">
    <div class="count"></div>
    <ul class="tools">
      <li class="viewer-btn close allow" data-action="close">close</li>
    </ul>
    <nav class="navigation">
      <div class="viewer-btn prev allow" data-action="prev">previous</div>
      <div class="viewer-btn next allow" data-action="next">next</div>
    </nav>
  </div>
</div>
