---
import { siteProfile, siteMeta } from '../config.ts';

interface Props {
  profile?: typeof siteProfile;
}

const { profile = siteProfile } = Astro.props;
const hasCover = !!profile.cover;
---

<header id="banner">
  <div id="banner-background" class={hasCover ? 'existbg' : ''} style={hasCover ? `--banner_background_image: url('${profile.cover}'); --banner_background_image_dark: url('${profile.coverDark || profile.cover}'); --banner_background_image_position: 50%;` : ''}></div>
  <div id="bar">
    <ul class="bar-op">
      <li class="user" title="菜单">菜单</li>
    </ul>
  </div>
  <div id="bar-dropdown">
    <div class="menu-close" data-action="close-menu" title="关闭"></div>
    <a href="/about/"><span class="menu-icon about"></span>关于</a>
    <a href="/photos/"><span class="menu-icon photos"></span>照片墙</a>
  </div>
  <div id="banner-info">
    <div class="name">
      <strong onclick="window.location.href='/'">{siteMeta.siteName}</strong>
    </div>
    <div class="avatar">
      <img src={profile.avatar} loading="lazy" draggable="false" alt="" />
    </div>
  </div>
  <div id="banner-subinfo">{profile.signature}</div>
</header>
