---
interface Props {
  url: string;
  cover?: string;
}

const { url, cover } = Astro.props;
---

<div class="video-player">
  <video poster={cover} controls preload="metadata" playsinline>
    <source src={url} type="video/mp4" />
    您的浏览器不支持视频播放。
  </video>
</div>
